/* max-width */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

.measure {
  max-width: 30em;
}

.measure-narrow {
  max-width: 20em;
}

.measure-wide {
  max-width: 34em;
}

.mw-100 {
  max-width: 100%;
}

.mw-none {
  max-width: none;
}

.mw-1 {
  max-width: 1rem;
}

.mw-2 {
  max-width: 2rem;
}

.mw-3 {
  max-width: 4rem;
}

.mw-4 {
  max-width: 8rem;
}

.mw-5 {
  max-width: 16rem;
}

.mw-6 {
  max-width: 32rem;
}

.mw-7 {
  max-width: 48rem;
}

.mw-8 {
  max-width: 64rem;
}

.mw-9 {
  max-width: 96rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .measure-sm {
    max-width: 30em;
  }

  .measure-sm-narrow {
    max-width: 20em;
  }

  .measure-sm-wide {
    max-width: 34em;
  }

  .mw-sm-100 {
    max-width: 100%;
  }

  .mw-sm-none {
    max-width: none;
  }

  .mw-sm-1 {
    max-width: 1rem;
  }

  .mw-sm-2 {
    max-width: 2rem;
  }

  .mw-sm-3 {
    max-width: 4rem;
  }

  .mw-sm-4 {
    max-width: 8rem;
  }

  .mw-sm-5 {
    max-width: 16rem;
  }

  .mw-sm-6 {
    max-width: 32rem;
  }

  .mw-sm-7 {
    max-width: 48rem;
  }

  .mw-sm-8 {
    max-width: 64rem;
  }

  .mw-sm-9 {
    max-width: 96rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .measure-md {
    max-width: 30em;
  }

  .measure-md-narrow {
    max-width: 20em;
  }

  .measure-md-wide {
    max-width: 34em;
  }

  .mw-md-100 {
    max-width: 100%;
  }

  .mw-md-none {
    max-width: none;
  }

  .mw-md-1 {
    max-width: 1rem;
  }

  .mw-md-2 {
    max-width: 2rem;
  }

  .mw-md-3 {
    max-width: 4rem;
  }

  .mw-md-4 {
    max-width: 8rem;
  }

  .mw-md-5 {
    max-width: 16rem;
  }

  .mw-md-6 {
    max-width: 32rem;
  }

  .mw-md-7 {
    max-width: 48rem;
  }

  .mw-md-8 {
    max-width: 64rem;
  }

  .mw-md-9 {
    max-width: 96rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .measure-lg {
    max-width: 30em;
  }

  .measure-lg-narrow {
    max-width: 20em;
  }

  .measure-lg-wide {
    max-width: 34em;
  }

  .mw-lg-100 {
    max-width: 100%;
  }

  .mw-lg-none {
    max-width: none;
  }

  .mw-lg-1 {
    max-width: 1rem;
  }

  .mw-lg-2 {
    max-width: 2rem;
  }

  .mw-lg-3 {
    max-width: 4rem;
  }

  .mw-lg-4 {
    max-width: 8rem;
  }

  .mw-lg-5 {
    max-width: 16rem;
  }

  .mw-lg-6 {
    max-width: 32rem;
  }

  .mw-lg-7 {
    max-width: 48rem;
  }

  .mw-lg-8 {
    max-width: 64rem;
  }

  .mw-lg-9 {
    max-width: 96rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .measure-xl {
    max-width: 30em;
  }

  .measure-xl-narrow {
    max-width: 20em;
  }

  .measure-xl-wide {
    max-width: 34em;
  }

  .mw-xl-100 {
    max-width: 100%;
  }

  .mw-xl-none {
    max-width: none;
  }

  .mw-xl-1 {
    max-width: 1rem;
  }

  .mw-xl-2 {
    max-width: 2rem;
  }

  .mw-xl-3 {
    max-width: 4rem;
  }

  .mw-xl-4 {
    max-width: 8rem;
  }

  .mw-xl-5 {
    max-width: 16rem;
  }

  .mw-xl-6 {
    max-width: 32rem;
  }

  .mw-xl-7 {
    max-width: 48rem;
  }

  .mw-xl-8 {
    max-width: 64rem;
  }

  .mw-xl-9 {
    max-width: 96rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .measure-xxl {
    max-width: 30em;
  }

  .measure-xxl-narrow {
    max-width: 20em;
  }

  .measure-xxl-wide {
    max-width: 34em;
  }

  .mw-xxl-100 {
    max-width: 100%;
  }

  .mw-xxl-none {
    max-width: none;
  }

  .mw-xxl-1 {
    max-width: 1rem;
  }

  .mw-xxl-2 {
    max-width: 2rem;
  }

  .mw-xxl-3 {
    max-width: 4rem;
  }

  .mw-xxl-4 {
    max-width: 8rem;
  }

  .mw-xxl-5 {
    max-width: 16rem;
  }

  .mw-xxl-6 {
    max-width: 32rem;
  }

  .mw-xxl-7 {
    max-width: 48rem;
  }

  .mw-xxl-8 {
    max-width: 64rem;
  }

  .mw-xxl-9 {
    max-width: 96rem;
  }
}

section {
  padding: 50px 0;
}
