{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
{{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
{{ $featured_image := (trim $featured_image "/") | absURL }}
<header class="min-vh-100 d-flex flex-column" style="background-size: cover; background-repeat: no-repeat; background-position:center center; background-image: url('{{ $featured_image }}');">
    <div class="pb-md-3 pb-lg-5 align-self-stretch flex-grow-1" style="background-color: rgba(0, 0, 0, 0.2);">
        {{ partial "site-navigation.html" . }}
        <div class="text-lg-center py-5 px-3 px-md-4 my-3 my-lg-5">
            {{ if not .Params.omit_header_text }}
            <h1 class="display-1 fw-bolder text-light lh-lg">
                {{ .Params.headertitle | default .Site.Title }}
            </h1>
            {{ with .Params.description | safeHTML }}
            <h2 class="text-light container-lg mx-auto mt-3 mb-4 lh-lg">
                {{ . }}
            </h2>
            {{ end }}
            {{ end }}
        </div>
    </div>
</header>
{{ else }}
<header>
    <div class="{{ .Site.Params.background_color_class | default "bg-dark" }}">
        {{ partial "site-navigation.html" . }}
    </div>
</header>
{{ end }}
