<nav class="navbar navbar-expand-lg navbar-dark sticky-top" role="navigation" style="background-color: rgba(0.1, 0.1, 0.1, 0.3);">
    <div class="container-fluid">
        <a class="navbar-brand link-light fs-3 d-inline-block" href="{{ .Site.Home.RelPermalink }}">
            {{ with .Site.Params.site_logo }}
            <img src="{{ . }}" class="w-100 mw-md-5" alt="{{ $.Site.Title }}" />
            {{ else }}
            {{ .Site.Title }}
            {{ end }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            {{/* {{ partial "i18nlist.html" . }} */}}
            {{ if .Site.Menus.main }}
            <ul class="navbar-nav ps-0 me-3">
                {{ range .Site.Menus.main }}
                <li class="nav-item pe-3 d-inline-block">
                    <a class="nav-link link-light fs-4" href="{{ .URL }}" title="{{ .Name | singularize }} page">
                        {{ if .Page.IsSection }}
                        {{ .Name | pluralize }}
                        {{ else }}
                        {{ .Name }}
                        {{ end }}
                    </a>
                </li>
                {{ end }}
            </ul>
            {{/* {{ else }} */}}
            {{/* <h1 style="color:yellow" ><i class="fas fa-exclamation-circle"></i> NO MENU</h1>  */}}
            {{ end }}
            {{/* {{ partialCached "social-follow.html" . }} */}}
        </div>
    </div>
</nav>
