{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article class="border-bottom border-dark">
    <div class="d-block py-3 px-3 px-lg-0 dark-gray">
        <div class="d-flex flex-column flex-md-row">
            <div class="row">
                {{ if $featured_image }}
                {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
                {{ $featured_image := (trim $featured_image "/") | absURL }}
                <div class="pe-md-3 mb-4 mb-md-0 col-12 col-md-5">
                    <a href="{{.Permalink}}" class="d-block grow">
                        <img src="{{ $featured_image }}" class="img-fluid" alt="image from {{ .Title }}">
                    </a>
                </div>
                {{ end }}
                <div class="blah col-12{{ if $featured_image }} col-md-7 ps-md-3{{ end }}">
                    <h1 class="fs-3  my-3 fw-bold helvetica lh-base">
                        <a href="{{.Permalink}}" class="text-reset text-decoration-none">
                            {{ .Title }}
                        </a>
                    </h1>
                    <div class="fs-5 lh-base">
                        {{ .Summary }}
                    </div>
                    <a href="{{.Permalink}}" class="fs-6 mt-2 btn btn-sm btn-secondary">
                        {{ $.Param "read_more_copy" | default (i18n "readMore") }}
                    </a>
                    {{/* TODO: add author
        <p class="f6 lh-copy mv0">By {{ .Author }}</p> */}}
                </div>
            </div>
        </div>
    </div>
</article>
